
@{
    ViewData["Title"] = "Galaxywatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/sgw4.jpg" class="offer-img" />
                </div>
                <div class="col-2">
                    <h1>Samsung Galaxy Watch 4</h1>
                    <a href="#" class="btn2 btn2-lg btn2-primary">
                        BUY NOW
                    </a>
                    <p>₱17,990.00</p>
                    <p>Item#: R865</p>
                    <p>Short Desricption: Reach for a healthier you in the Galaxy Watch 4 with Wear OS, featuring fitness tracking, body composition, blood pressure, ECG, step counting and more! </p>
                    <p>
                        Full Desricption: The standard Galaxy Watch 4 features a contemporary design, with brushed aluminium lugs that extend to encapsulate the black polished metal body of the watch, while the Classic sports more conventional timepiece styling (similar to the Galaxy Watch 3), with a stainless steel body and – most prominently – a physical rotating bezel, for UI interaction.
                        Depending on whether you opt for the smaller or larger-bodied version of either Watch 4, you can expect a 1.19in or 1.36in circular AMOLED display that sports a pixel density of 330ppi.The BioActive Sensor branding that relates to the overarching fitness hardware inside the Watch 4 now extends to the two physical buttons on the watch's right side. While the top button serves as a home key and the bottom a back key, soft-pressing both after tapping 'Measure' on the new Body Composition app lets the Watch 4 get a read on things like your body's water retention, bone density and BMI.
                    </p>
                    <p>Caliber: Automatic</p>
                    <p>Movement: Automatic</p>
                    <p>Chronograph: Yes</p>
                    <p>Weight:	30.3 g (44mm), 25.9 g (40mm) (1.06 oz)</p>
                    <p>Height: 41mm and 45mm</p>
                    <p>Diameter and Thickness:	44.4 x 43.3 x 9.8 mm (1.75 x 1.70 x 0.39 in)</p>
                    <p>Jewel: None</p>
                    <p>Strap Material: Leather</p>
                    <p>Case Material: Metal</p>
                </div>
            </div>
        </div>
    </div>
<div class="categories">
        <div class="small-container3">
            <h2 class="like">You may also like:</h2>
            <div class="row">
                <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Onepluswatch"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/oneplus.png" /></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Onepluswatch"><h4>OnePlus Watch</h4></a>
                    <p1>Price:₱6,899.00</p1>
                </div>
                <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Applewatchseries7"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/applewatch.png"></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Applewatchseries7"><h4>Apple Watch Series 7</h4></a>
                    <p1>Price:₱22,990.00</p1>
                </div>
                <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Xiaomi"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/xiaomi.png" /></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Xiaomi"><h4>Xiaomi Watch S1 Active</h4></a>
                    <p1>Price:₱7,999.00</p1>
                </div>
                <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Huawei"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/huawei.png" /></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Huawei"><h4>Huawei Watch GT 3</h4></a>
                    <p1>Price:₱12,899.00</p1>
                </div>
                @*<div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Galaxywatch"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/galaxy watch.png" /></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Galaxywatch"><h4>Samsung Galaxy Watch 4</h4></a>
                    <p1>Price:₱17,990.00</p1>
                </div>*@
            </div>
        </div>
    </div>

