
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/ceo.png" class="offer-img" />
                </div>
                <div class="col-2">
                    <h1>Rafael D. Palo</h1>
                    <p>EID: rafael.palo</p>
                    <p>Email: rafael.palo@accenture.com</p>
                    <p>Lives in Angeles City, Pampanga</p>
                </div>
            </div>
        </div>
    </div>

