
@{
    ViewData["Title"] = "Applewatchseries7";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/aws7.jfif" width:"600" height="600" class="offer-img" />
                </div>
                <div class="col-2">
                    <h1>Apple Watch Series 7</h1>
                    <a href="#" class="btn1 btn1-lg btn1-primary">
                        BUY NOW
                    </a>
                    <p>₱22,990.00</p>
                    <p>Item#: A2291</p>
                    <p>Short Description: Description:The new stylish and lightweight design to truly style up your fitness. Weighing only 36.3g, Xiaomi Watch S1 Active will assist your workout with no limits.</p>
                    <p>
                        Full Description: The Apple Watch Series 7 retains the same design elements that have been present since its first iteration. Despite rumors of a flat-edged redesign, Apple doubled down on rounded sides and added a bigger, brighter display.
                        Rather than add some gimmicky new feature or sensor, Apple positioned the Apple Watch Series 7 as the epitome of its wearable revolution. It acts as the absolute maximum representation of what can fit in a comfortable wrist computer.
                        A redesign is still possible in the future, but for now, Apple had to consider what changes it could make in an aging design without compromising existing features.
                        Notably, Apple has introduced yet another Apple Watch that retains compatibility with all watch bands. Apple initially leaned heavily into the fashion aspects of the Apple Watch, which has persisted through the constantly changing band styles.
                    </p>
                    <p>Caliber:	Automatic</p>
                    <p>Movement: Automatic</p>
                    <p>Chronograph: Yes</p>
                    <p>Weight:	32 g (41mm), 38.8 g (45mm) (1.13 oz)</p>
                    <p>Height: 41mm and 45mm</p>
                    <p>Diameter and Thickness: 45 x 38 x 10.7 mm (1.77 x 1.50 x 0.42 in)</p>
                    <p>Jewel: None</p>
                    <p>Strap Material: Leather</p>
                    <p>Case Material: Metal</p>
                </div>
            </div>

        </div>
    </div>

    <div class="categories">
        <div class="small-container2">
            <h2 class="like">You may also like:</h2>
            <div class="row">
                <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Onepluswatch"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/oneplus.png" /></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Onepluswatch"><h4>OnePlus Watch</h4></a>
                    <p1>Price:₱6,899.00</p1>
                </div>
                <!--<div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Applewatchseries7"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/applewatch.png"></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Applewatchseries7"><h4>Apple Watch Series 7</h4></a>
                    <p1>Price:₱22,990.00</p1>
                </div>-->
                <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Xiaomi"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/xiaomi.png" /></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Xiaomi"><h4>Xiaomi Watch S1 Active</h4></a>
                    <p1>Price:₱7,999.00</p1>
                </div>
                <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Huawei"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/huawei.png" /></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Huawei"><h4>Huawei Watch GT 3</h4></a>
                    <p1>Price:₱12,899.00</p1>
                </div>
                <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Galaxywatch"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/galaxy watch.png" /></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Galaxywatch"><h4>Samsung Galaxy Watch 4</h4></a>
                    <p1>Price:₱17,990.00</p1>
                </div>
            </div>
        </div>
    </div>
