
@{
    ViewData["Title"] = "PageNotFound";
}

<h1>@ViewData["Title"]</h1>
<div class="errormessage">
<p>ERROR404!ERROR404!ERROR404!ERROR404!ERROR404!ERROR404!ERROR404!</p><br />
<p>Please contact the web administator or email at rafael.palo@accenture.com</p>
</div>