@{
    ViewData["Title"] = "Watches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="categories">
        <div class="small-container1">
            <h2 class="products">Products</h2>
            <div class="row">
                <div class="col-6">
                    <a asp-area="" asp-controller="Home" asp-action="Onepluswatch"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/oneplus.png" /></a>
                    <a asp-area="" asp-controller="Home" asp-action="Onepluswatch"><h4>OnePlus Watch</h4></a>
                    <p1>Price:₱6,899.00</p1>
                </div>
                <div class="col-6">
                    <a asp-area="" asp-controller="Home" asp-action="Applewatchseries7"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/applewatch.png"></a>
                    <a asp-area="" asp-controller="Home" asp-action="Applewatchseries7"><h4>Apple Watch Series 7</h4></a>
                    <p1>Price:₱22,990.00</p1>
                </div>
                <div class="col-6">
                    <a asp-area="" asp-controller="Home" asp-action="Xiaomi"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/xiaomi.png" /></a>
                   <a asp-area="" asp-controller="Home" asp-action="Xiaomi"><h4>Xiaomi Watch S1 Active</h4></a>
                    <p1>Price:₱7,999.00</p1>
                </div>
                <div class="col-6">
                    <a asp-area="" asp-controller="Home" asp-action="Huawei"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/huawei.png" /></a>
                    <a asp-area="" asp-controller="Home" asp-action="Huawei"><h4>Huawei Watch GT 3</h4></a>
                    <p1>Price:₱12,899.00</p1>
                </div>
                <div class="col-6">
                    <a asp-area="" asp-controller="Home" asp-action="Galaxywatch"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/galaxy watch.png" /></a>
                    <a asp-area="" asp-controller="Home" asp-action="Galaxywatch"><h4>Samsung Galaxy Watch 4</h4></a>
                    <p1>Price:₱17,990.00</p1>
                </div>
            </div>
        </div>
    </div>
     