
@{
    ViewData["Title"] = "Onepluswatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/opwatch.png" class="offer-img" />
                </div>
                <div class="col-2">
                    <h1>OnePlus Watch</h1>
                    <a href="#" class="btn2 btn2-lg btn2-primary">
                        BUY NOW
                    </a>
                    <p>₱6,899.00</p>
                    <p>Item#: OP4444</p>
                    <p>Short Description: The OnePlus Watch is the first smartwatch from OnePlus. It delivers a stylish design, fitness tracking, and impressive battery life at a modest price.</p>
                    <p>
                        Long Description: The highly anticipated OnePlus Watch launched alongside the OnePlus 9 series in March 2021. It’s technically the company’s second entry into the wearable space and follows the OnePlus Band. However, it is the first smartwatch from OnePlus and sees a far wider release than the fitness tracker. The OnePlus Watch is available in the US and various European markets this time, along with India, China, and other Asian countries.
                        On paper, the OnePlus Watch ticks all the right boxes. It offers all the features you’d expect from a smartwatch with a focus on fitness, including heart rate tracking and SpO2 monitoring, and comes with other sensors like a barometer and compass. You can take advantage of up to 110 fitness modes, with the caveat that most will be available with upcoming software updates. The watch also has an IP68 rating for dust and water resistance.
                        OnePlus aims to deliver on a couple of key factors that make for an excellent smartwatch — affordability and battery life. OnePlus claims a 14-day battery life, and remains one of the cheapest smartwatches you can get right now, considering everything it brings to the table.
                    </p>
                    <p>Caliber: Automatic</p>
                    <p>Movement: Automatic</p>
                    <p>Chronograph: Yes</p>
                    <p>Weight:	45 g (1.59 oz)</p>
                    <p>Height: 41mm and 45mm</p>
                    <p>Diameter and Thickness:	46.4 x 46.4 x 10.9 mm (1.83 x 1.83 x 0.43 in)</p>
                    <p>Jewel:None</p>
                    <p>Strap Material: Leather</p>
                    <p>Case Material: Metal</p>
                </div>
            </div>
        </div>
    </div>

    
    <div class="categories">
        <div class="small-container3">
            <h2 class="like">You may also like:</h2>
            <div class="row">
               @* <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Onepluswatch"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/oneplus.png" /></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Onepluswatch"><h4>OnePlus Watch</h4></a>
                    <p1>Price:₱6,899.00</p1>
                </div>*@
                <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Applewatchseries7"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/applewatch.png"></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Applewatchseries7"><h4>Apple Watch Series 7</h4></a>
                    <p1>Price:₱22,990.00</p1>
                </div>
                <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Xiaomi"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/xiaomi.png" /></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Xiaomi"><h4>Xiaomi Watch S1 Active</h4></a>
                    <p1>Price:₱7,999.00</p1>
                </div>
                <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Huawei"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/huawei.png" /></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Huawei"><h4>Huawei Watch GT 3</h4></a>
                    <p1>Price:₱12,899.00</p1>
                </div>
                <div class="col-8">
                    <a asp-area="" asp-controller="Home" asp-action="Galaxywatch"><img src="https://fy2205storagerafaelpalo.blob.core.windows.net/fy2205images/galaxy watch.png" /></a>
                    <a class="hoverTable" asp-area="" asp-controller="Home"  asp-action="Galaxywatch"><h4>Samsung Galaxy Watch 4</h4></a>
                    <p1>Price:₱17,990.00</p1>
                </div>
            </div>
        </div>
    </div>
