@model Exercise_9.Entity.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemNumber" class="control-label"></label>
                <input asp-for="ItemNumber" class="form-control" />
                <span asp-validation-for="ItemNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullDescription" class="control-label"></label>
                <input asp-for="FullDescription" class="form-control" />
                <span asp-validation-for="FullDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caliber" class="control-label"></label>
                <input asp-for="Caliber" class="form-control" />
                <span asp-validation-for="Caliber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movement" class="control-label"></label>
                <input asp-for="Movement" class="form-control" />
                <span asp-validation-for="Movement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chronograph" class="control-label"></label>
                <input asp-for="Chronograph" class="form-control" />
                <span asp-validation-for="Chronograph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diameter" class="control-label"></label>
                <input asp-for="Diameter" class="form-control" />
                <span asp-validation-for="Diameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thickness" class="control-label"></label>
                <input asp-for="Thickness" class="form-control" />
                <span asp-validation-for="Thickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jewely" class="control-label"></label>
                <input asp-for="Jewely" class="form-control" />
                <span asp-validation-for="Jewely" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseMaterial" class="control-label"></label>
                <input asp-for="CaseMaterial" class="form-control" />
                <span asp-validation-for="CaseMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrapMaterial" class="control-label"></label>
                <input asp-for="StrapMaterial" class="form-control" />
                <span asp-validation-for="StrapMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

